@media (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  .hide-sm {
    display: none;
  }

  .container {
    margin-top: 8rem;
  }

  //   text styles
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  // navbar
  .navbar {
    .burger {
      display: block;
      cursor: pointer;
    }
    ul {
      display: none;
    }
    h1 {
      margin-bottom: 1rem;
    }
  }
  // Image slider
  .slider {
    .slide {
      .content {
        bottom: -300px;
        left: 0;
        width: 100%;
      }
    }
    .current {
      .content {
        transform: translateY(-300px);
      }
    }
  }

  // Footer
  footer {
    .boxes-f {
      display: flex;
      flex-direction: column;
    }
  }
}
